flask
flask-socketio
flask-login
sqlite-database
https://github.com/RimuEirnarn/future_router/archive/main.tar.gz
python-dotenv
eventlet
html-sanitizer
markdown
pygments
pymdown-extensions
flask-wtf
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
