<!-- Import CSS -->
<!-- Import a conditional Markdown syntax highlighting css files -->
<link rel="stylesheet" href="/static/external/css/dracula.css" media="(prefer-color-scheme: dark)">
<link rel="stylesheet" href="/static/external/css/abap.css" media="(prefer-color-scheme: light)">

<link rel="stylesheet" href="/static/external/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/external/css/bootstrap-icons.css">
<link rel="stylesheet" href="/static/main.css">

<!-- Import JS -->
<script src="/static/external/js/jquery.min.js"></script>
<script src="/static/external/js/socket.io.min.js"></script>
<script src="/static/external/js/bootstrap.bundle.min.js"></script>
<script src="/static/main.mjs" defer></script>
